# The dependencies for the Python scripts in this folder.

# Required by all of the Python scripts.
boto3==1.34.125

# Required by the Amazon Redshift Python script.
openlineage_sql==1.16.0
redshift-connector==2.1.1
